# Looking at The New York Times Covid-19 data

## Import stuff

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

%matplotlib inline

## Read in the data

In [2]:
countries = pd.read_csv('./us-counties.csv')

In [3]:
us_states = pd.read_csv('./us-states.csv')

## What does the data look like?

In [4]:
countries.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [ ]:
us_states.head()