# Looking at The New York Times Covid-19 data

## Import stuff

In [12]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

%matplotlib inline

## Read in the data

The New York Times Covid-19 data is updated as more cases emerge etc. These data files were collected on March 31st 2020, and cover data up until March 30th 2020.

In [13]:
counties = pd.read_csv('./us-counties.csv')

In [14]:
us_states = pd.read_csv('./us-states.csv')

## What does the data look like?

fips code = Federal Information Processing Standards code.
It is used to identify a county. 

Note from The New York Times: "In some instances, we report data from multiple counties or other non-county geographies as a single county. For instance, we report a single value for New York City, comprising the cases for New York, Kings, Queens, Bronx and Richmond Counties. In these instances the FIPS code field will be empty."

### Counties

In [15]:
counties.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [16]:
counties.shape

(21799, 6)

### US States

In [17]:
us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [18]:
us_states.shape

(1554, 5)